@mixin text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-ellipsis-multi($line) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin circle($d) {
  width: $d;
  height: $d;
  border-radius: 50%;
}

@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin abs-stretch {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}

@mixin abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin list($item-width, $min-height: 200px) {
  .list-wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -12px;
    min-height: $min-height;
    .list-item {
      width: $item-width;
      margin-bottom: 36px;
      padding: 0 12px;
    }
  }
}

@mixin box-shadow(
  $top: 0,
  $right: 2px,
  $bottom: 12px,
  $left: 0,
  $color: rgba(0, 0, 0, 0.1)
) {
  box-shadow: $top $right $bottom $left $color;
}
